<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Konvolucio.MGUI201222.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Konvolucio.MCEL181123.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Konvolucio.MGUI201222.Properties.Settings>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>890, 230</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IsDeveloperMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowseLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MainTree_SplitterDistance" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="EnableSingleInstance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAfterStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IoLogEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplictionSettingsSaveCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplictionSettingsUpgradeCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GuiRefreshRateMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SeriaPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="UpTimeCounterPeriodicUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastDeviceName" serializeAs="String">
                <value>unknown</value>
            </setting>
            <setting name="TracingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Konvolucio.MGUI201222.Properties.Settings>
        <Konvolucio.MCEL181123.Properties.Settings>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>890, 230</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IsDeveloperMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowseLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MainTree_SplitterDistance" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="EnableSingleInstance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAfterStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IoLogEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplictionSettingsSaveCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplictionSettingsUpgradeCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GuiRefreshRateMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SeriaPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="UpTimeCounterPeriodicUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </Konvolucio.MCEL181123.Properties.Settings>
    </userSettings>
</configuration>